.add_project{
    border: 1px solid red;
    background-color: rgb(0, 255, 157);
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.inner_page{
    
    text-align: left;
    margin-left: 20px;
}
.project_page > button{
    display: flex;
    border-radius: 10px;
   
   
   
}
.input{
    width: 20%;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
}
/* .project_main{
    border: 1px solid green;
} */
.project_page{
    /* border: 1px solid blue; */
    text-align: left;
    margin-left: 20px;
}
.task_details{
    background-color: chocolate;
}
.another_task{
   
   
}
.add_task_btn{
    color: white;
}